<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2>2015 Learning Beyond Miles</h2>
			<p>
				SWB + Aeroplan’s Beyond Miles program has been a catalyst for prolific young leaders around the world to connect face-to-face and cross-pollinate some of the most brilliant learning strategies on the planet. The results: life-changing experiences that build a just, sustainable and thriving world.
			</p>
			<p>
				Since the launch of Beyond Miles in 2006, SWB has raised an impressive 12 million Aeroplan miles and fueled over 100 projects, positively impacting 20,000+ people in 50+ countries. The numbers only begin to tell the story.
			</p>

			<div class="row">
				<div class="col-md-12">
					<%= link_to("http://www.facebook.com", target: "blank") do %>
						<img alt="facebook" src="">
					<% end %>
					<%= link_to("http://www.twitter.com", target: "blank") do %>
						<img alt="twitter" src="">
					<% end %>
					<%= link_to("http://www.instagram.com", target: "blank") do %>
						<img alt="instagram" src="">
					<% end %>
				</div>
			</div>
		</div>

		<div class="col-md-6">
				<iframe src="//player.vimeo.com/video/38347305?byline=0&amp;portrait=0&amp;color=ff9933" height="331" width="550" allowfullscreen="" frameborder="0"></iframe>
				<p>
					<a href="http://vimeo.com/38347305">Make Your Miles Matter</a>
					from
					<a href="http://vimeo.com/goldennugget">Golden Nugget Productions</a>
					on
					<a href="https://vimeo.com">Vimeo</a>
				</p>
		</div>
	</div>	
</div>