<div class="page-banner text-center">
	<h2>ABOUT LEARNING BEYOND MILES</h2>
</div>

<div class="container">
	<div class="row">
		<div class="content col-md-8 col-md-offset-2 text-center">
			<p>
				SWB + Aeroplan’s Beyond Miles program has been a catalyst for prolific young leaders around the world to connect face-to-face and cross-pollinate some of the most brilliant learning strategies on the planet. The results: life-changing experiences that build a just, sustainable and thriving world.
			</p>
			<p>
				Since the launch of Beyond Miles in 2006, SWB has raised an impressive 12 million Aeroplan miles and fueled over 100 projects, positively impacting 20,000+ people in 50+ countries. The numbers only begin to tell the story.
			</p>

			<div class="row">
				<div class="col-md-12">
					<%= link_to("http://www.facebook.com", target: "blank") do %>
						<i class="fa fa-facebook fa-2x"></i>
					<% end %>
					<%= link_to("http://www.twitter.com", target: "blank") do %>
						<i class="fa fa-twitter fa-2x"></i>
					<% end %>
					<%= link_to("http://www.instagram.com", target: "blank") do %>
						<i class="fa fa-instagram fa-2x"></i>
					<% end %>
				</div>
			</div>
		</div>



		<div class="col-md-8 col-md-offset-2 hidden-xs text-center">
			<iframe class="embed-responsive-item" src="//player.vimeo.com/video/38347305?byline=0&amp;portrait=0&amp;color=ff9933" height="331" width="550" allowfullscreen="" frameborder="0"></iframe>
			<div>
				<a href="http://vimeo.com/38347305">Make Your Miles Matter</a>
				from
				<a href="http://vimeo.com/goldennugget">Golden Nugget Productions</a>
				on
				<a href="https://vimeo.com">Vimeo</a>
			</div>
		</div>

		<div class="col-xs-12 embed-responsive embed-responsive-4by3 visible-xs">
				<iframe class="embed-responsive-item" src="//player.vimeo.com/video/38347305?byline=0&amp;portrait=0&amp;color=ff9933" height="331" width="550" allowfullscreen="" frameborder="0"></iframe>
				<a href="http://vimeo.com/38347305">Make Your Miles Matter</a>
				from
				<a href="http://vimeo.com/goldennugget">Golden Nugget Productions</a>
				on
				<a href="https://vimeo.com">Vimeo</a>
		</div>
	</div>	
</div>