<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Contact Us</h2>
			<p>
				Keep in touch and come to say hello! SWB lives with a handful of Toronto’s most innovative and prolific organizations in the heart of the cities arts & culture district. Our community always serves as inspiration and we invite you to visit us, connect with us and help us to learn with your wisdom.
			</p>
			<p>
				37 Bulwer St.
				Toronto ON
				M5T 1A1
			</p>

			<a href="mailto:info@swb.ca?subject=Aeroplan%20Miles%20Campaign%20Inquiry" role="button" class="btn btn-default">E-MAIL SWB</a>

		</div>
	</div>
</div>