.page-banner.text-center
	%h2 CONTACT US

.container
	.row
		.content.col-md-8.col-md-offset-2.text-center
			%p
				Keep in touch and come say hello!
			%p
				SWB lives with a handful of Toronto’s most innovative and prolific organizations in the heart of the cities arts & culture district. Our community always serves as inspiration and we invite you to visit us, connect with us and help us to learn with your wisdom.
			%p
				37 Bulwer St.
				%br
				Toronto ON
				%br
				M5T 1A1
			%a.btn#btn-contact{href: "mailto:info@swb.ca?subject=SWB%20Learning%20Beyond%20Miles", role: "button"} EMAIL SWB