<div class="page-banner text-center">
	<h2>CONTACT US</h2>
</div>

<div class="container">
	<div class="row">
		<div class="content col-md-8 col-md-offset-2 text-center">
			<p>
				Keep in touch and come say hello!
			<p>
				SWB lives with a handful of Toronto’s most innovative and prolific organizations in the heart of the cities arts & culture district. Our community always serves as inspiration and we invite you to visit us, connect with us and help us to learn with your wisdom.
			</p>
			<p>
				37 Bulwer St.
				<br>
				Toronto ON
				<br>
				M5T 1A1
			</p>

			<a href="mailto:info@swb.ca?subject=Aeroplan%20Miles%20Campaign%20Inquiry" role="button" class="btn" id="btn-contact">EMAIL SWB</a>

		</div>
	</div>
</div>