.page-banner {
	@extend .banner;
	background-image: url('http://beyondmiles.herokuapp.com/imgs/org-banner.png');
	height: 300px;
	padding-top: 120px;

	@media(max-width: 767px){
		height: 150px;
		padding-top: 35px;
	}
}

#btn-contact {
	@extend .button;
	font-size: 15px;
	padding: 10px 15px;

	&:hover {
		color: #000;
	}
}