.page-banner {
	background-image: url('http://beyondmiles.herokuapp.com/imgs/org-banner.png');
	height: 300px;
	padding-top: 120px;
	margin-bottom: 35px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

@media(max-width: 767px){
	.page-banner { 
		height: 150px;
	}

	.about {
		padding-top: 20px;
	}

	.contact {
		padding-top: 30px;
	}
}

p {
	font-family: $raleway;
	font-size: 16px;
}

p span {
	color: $teal;
	font-weight: 800px;
}

.content {
	margin-bottom: 25px;
}

#btn-contact {
	background-color: $teal;
	color: #FFF;
	font-size: 15px;
	padding: 10px 15px;
	border-radius: 0px;
}

#btn-contact:hover {
	color: #000;
}