.page-banner {
	background-image: url('http://localhost:3000/imgs/org-banner.png');
	height: 300px;
	padding-top: 120px;
	margin-bottom: 25px;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

p {
	font-family: 'Nixie One', cursive;
	font-size: 16px;
}

.content {
	margin-bottom: 25px;
}