.mailchimp {
	margin-bottom: 25px;
}

.btn-mailchimp {
	border-radius: 0px;
	background-color: $orange;
	color: #FFF;
	font-family: $oswald;
}

.form-mailchimp {
	padding: 3px 35px 7.5px 35px;
	border: 1px solid #CCC;
	border-radius: 4px;
	font-size: 14px;
	font-family: $oswald;
}