nav {
	background: #FFF;
	font-family: 'Oswald', sans-serif;
}

#swb-logo {
	width: 40px;
}

li.fb-link {
	/*padding-top: 15px;*/
	color: #777;
}

li.fb-link a {
	height: 0px;
}

li.tw-link i {
	padding: 0px;
	color: #55ACEE;
}