.org-banner {
	background-size: 100% auto;
	background-position-y: -100px; 
	margin-bottom: 25px;
}

.org-banner-title {
	padding-top: 125px;
	padding-bottom: 125px;
	background-color: rgba(0,0,0,0.4);
	color: #FFF;
}

.org-info {
	height: 200px;
}

.org-name-hq {
	height: 200px;
	padding-top: 12px;
}

a.org-title {
	color: #FFF;
}

a:hover.org-title {
	color: #FFF;
	text-decoration: none;
}

a.org-name {
	color: #000;
}

a:hover.org-name {
	color: #54B2A4;
	text-decoration: none;
}

p.org-hq {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	color: #555;
}

.org-image {
	opacity: 0.4;
}

.donate-today {
	margin-bottom: 35px;
}

.btn-donate {
	background-color: rgba(194, 139, 46, 1);
	color: white;
}

.btn-donate:hover {
	background-color: rgba(194, 139, 46, 0.8);
}