// LINKS
a.org-name {
	color: #000;

	&:hover {
		color: $teal;
	}
}

// BANNER
.org-banner {
	@extend .banner;
	background-position-y: -125px;

	@media(max-width: 767px){
		background-position-y: 0px;
	}
}

.org-banner-title {
	padding-top: 125px;
	padding-bottom: 125px;
	background-color: rgba(0,0,0,0.4);
	color: #FFF;

	@media(max-width: 767px){
		padding-top: 65px;
		padding-bottom: 65px;
	}
}

// ORG THUMBNAILS
.orgs-header {
	margin-bottom: 7px;
}

#org-thumbnail {
	height: 200px;
	margin-top: 7px;

	@media(max-width: 434px){
  	height: 350px;
	}

	@media(min-width: 435px) and (max-width: 534px) {
  	height: 400px;
	}

	@media(min-width: 535px) and (max-width: 766px) {
  	height: 550px;
	}

	@media(min-width: 767px) and (max-width: 992px) {
  	height: 600px;
	}
}

.org-image {
	opacity: 0.4;
}

.org-name-hq {
	padding-top: 12px;

	p {
		font-family: $oswald;
		font-size: 12px;
		color: #555;
	}
}

// ORG THUMBNAIL 7 COLS
@media (min-width: 767px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/* @media usage for large screens */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

// ORG SHOW
#org-logo {
	width: 150px;
	margin-right: 20px;
	display: inline;
}

i {
	padding-right: 10px;

	&.not-avail {
		opacity: 0.5;
	}
}