<div class="container" id="orgs-grid">
	<div class="row">
		<% @organizations.each do |org| %>
			<div class="col-xs-6 col-md-2">
				<a href="#" class="thumbnail">
					<img src="<%= org.image %>">
				</a>
			</div>
		<% end %>
	</div>
</div>