<h1>SWB Aeroplan Home</h1>

<div class="container" id="orgs-grid">
	<div class="row">
		<% @organizations.each do |org| %>
			<div class="col-md-2">
				<img src="<%= org.image %>" />
			</div>
		<% end %>
	</div>
</div>