=link_to("https://beyondmiles.aeroplan.com/eng/partners/11", target: "blank") do
	.aeroplan-banner

.container
	.row
		.col-md-12.text-center
			%h3
				Your
				=link_to "Aeroplan", "https://www.aeroplan.com", class: "aeroplan-link", target: "blank"
				Miles help us take flight!

			=render 'layouts/donate'

	.row
		.col-md-12.text-center
			%img.donate-logos{alt: "swb-logo", src: "https://beyondmiles.herokuapp.com/imgs/swb-logo.png"}
			%img.donate-logos{alt: "swb-logo", src: "http://beyondmiles.herokuapp.com/imgs/aeroplan-logo.png"}

	%hr

	.row
		.col-md-12.text-center.orgs-header
			%h3 Click below to see your Aeroplan Miles in action.

	.row.seven-cols
		-@organizations.each do |org|
			.org-info.col-md-1.thumbnail.text-center#org-thumbnail
				=link_to(org) do
					%img.org-image.img-responsive{alt: org.name, src: org.image}

				.org-name-hq.text-center.caption
					=link_to(org, class: "org-name") do
						=org.name.upcase
					%p= org.headquarters.upcase

	=render 'layouts/mailchimp'