<h1>SWB Aeroplan Home</h1>

<% @organizations.each do |org| %>
	<li>
		<%= org.name %>
		<br>
		<%= org.headquarters %>
		<br>
		<%= Theme.find(org.theme_id).name %>
		<img src="<%= org.image %>"/>
	</li>
<% end %>