%footer.footer
	.container
		%p
			©2015 by Schools Without Borders
			%br
			%i Schools Without Borders is not in any way affiliated with Doctors Without Borders. Doctors Without Borders is a registered Trademark of Bureau International de Medicins San Frontieres.
		%p ®Aeroplan and the Aeroplan logo are registered trademarks of Aimia Canada Inc.