<div class="container-fluid share">
	<div class="mail-chimp">
		<div class="row">
			<div class="col-md-12 text-center">
				<h4>Join SWB and these 21 Partners for 21 Days of Learning in October.</h4>
				<!-- Begin MailChimp Signup Form -->
				<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
				<div id="mc_embed_signup text-center">
					<form action="//swb.us2.list-manage.com/subscribe/post?u=0a19cdfa7095b44d377c0311a&amp;id=6207122c41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<label for="mce-EMAIL">Sign up here:</label>
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
					    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_0a19cdfa7095b44d377c0311a_6207122c41" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn mail-chimp-btn"></div>
					    </div>
					</form>
				</div>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-center">
			<div class="fb-share-button" data-href="http://beyondmiles.swb.ca/" data-layout="button"></div>
			<br>
			<br>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://beyondmiles.swb.ca/" data-text="Help #swbees take flight! Donate your @aeroplan miles this week to @tweetswb and @beyondmiles will match them:" data-count="none">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
	</div>
</div>
