!!!
%html
	%head
		%title SWB Learning Beyond Miles
		=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		=javascript_include_tag 'application', 'data-turbolinks-track' => true
		=csrf_meta_tags

		%link{href: 'http://fonts.googleapis.com/css?family=Oswald', rel: 'stylesheet', type: 'text/css'}
		%link{href: 'http://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css'}

		-# Bootstrap CDN
		%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}

		-# Bootstrap Rendering/Touch Zooming
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

		-# Google Tag Manager
		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-66602437-1', 'auto');
			ga('send', 'pageview');
		-# End Google Tag Manager

		-# FB Meta Tags
		%meta{property: "og:url", content: "http://beyondmiles.swb.ca/"}
		%meta{property: "og:type", content: "website"}
		%meta{property: "og:title", content: "SWB Learning Beyond Miles"}
		%meta{property: "og:description", content: "Help SWBees take flight! Donate your Aeroplan miles this week to Schools Without Borders and Beyond Miles will match them!"}
		%meta{property: "og:image", content: "http://beyondmiles.herokuapp.com/imgs/aeroplan-banner.png"}

	%body
		-# Google Tag Manager
		%noscript
			%iframe{src: "//www.googletagmanager.com/ns.html?id=GTM-WSS7TR", height: "0", width: "0", style: "display:none;visibility:hidden"}
		:javascript
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-WSS7TR');
		-# End Google Tag Manager

		-# FB Script
		%div#fb-root
		:javascript
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1476588652665083";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		-# End FB Script

		-# Tweet Script
		:javascript
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		-# End Tweet Script

		=render 'layouts/navbar'

		%div#page-wrap
			=yield

		=render 'layouts/footer'

		-# Bootstrap CDN Script
		%script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}